<!DOCTYPE html>
<html>
	<head>
		<title> PLACE OF WASTE </title>
		<link rel="stylesheet" media="screen" href="styles.css">
	</head>
	
	<body>
		<div = "container">
			<%= yield %>
		</div>
	</body>
	
</html>
