<form class="login_form" action="to_home" method="post" name="login_form">
	<ul>
		<li>
			<h2>Login:</h2>
			<span class="required_notification">* Required Field</span>
		</li>
		<li>
			<label for="user_name">Username:</label>
			<input type="text" name="user_name" />
		</li>
		<li>
			<label for="user_password">Password:</label>
			<input type="text" name="user_password" />
		</li>
	</ul>
</form>
